@{
    Layout = "~/Views/Shared/adminLayout.cshtml";
}
    @model IEnumerable<cinema.Models.Movies>

    @{
        ViewBag.Title = "Manage Movies";
    }
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/adminManageScript.js"></script>

    <h2>Manage Movies</h2>
    <p>

        @Html.ActionLink("Create New", "InsertMovies")
    </p>
    <table class="table">
        <tr>
            <th>
                <b>Movie Name</b>
            </th>
            <th>
                <b>Category</b>
            </th>
            <th>
                <b>Age Limit</b>
            </th>
            <th>
                <b>Current Price</b>
            </th>
            <th>
                <b>Previous Price</b>
            </th>
            <th>
                <b>Poster</b>
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            using (Html.BeginForm("Delete", "Admin", new { movieName = item.movieName }))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.movieName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ageLimit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.currentPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.previousPrice)
                    </td>
                    <td>
                        <img src="@Html.DisplayFor(modelItem => item.poster)" width="90" height="130" />
                    </td>
                    <td>
                        <input type="submit" value="Delete" class="btn btn-info"/>  |
                        @Html.ActionLink("Edit Price", "EditPrice", new { movieName = item.movieName }) |
                    </td>
                </tr>
            }
        }

    </table>
